A complete tutorial using Relion 4 within Scipion. The workflow follows betagal Relion tutorial.
[
    {
        "object.className": "ProtImportMovies",
        "object.id": "2",
        "object.label": "pwem - import movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "/data/tutorials/relion30_tutorial/Movies/",
        "filesPattern": "*.tiff",
        "copyFiles": false,
        "haveDataBeenPhaseFlipped": false,
        "acquisitionWizard": null,
        "voltage": 200.0,
        "sphericalAberration": 1.4,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRateMode": 0,
        "samplingRate": 0.885,
        "scannedPixelSize": 7.0,
        "doseInitial": 0.0,
        "dosePerFrame": 1.277,
        "gainFile": "/data/tutorials/relion30_tutorial/Movies/gain.mrc",
        "darkFile": null,
        "dataStreaming": false,
        "timeout": 43200,
        "fileTimeout": 30,
        "blacklistDateFrom": null,
        "blacklistDateTo": null,
        "useRegexps": true,
        "blacklistFile": null,
        "inputIndividualFrames": false,
        "numberOfIndividualFrames": null,
        "stackFrames": false,
        "writeMoviesInProject": false,
        "movieSuffix": "_frames.mrcs",
        "deleteFrames": false
    },
    {
        "object.className": "ProtMotionCorr",
        "object.id": "88",
        "object.label": "motioncorr - movie alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "gpuList": "0 1",
        "doSaveAveMic": true,
        "useAlignToSum": true,
        "alignFrame0": 1,
        "alignFrameN": 24,
        "binFactor": 1.0,
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "splitEvenOdd": false,
        "doSaveMovie": false,
        "doComputePSD": false,
        "doComputeMicThumbnail": false,
        "extraProtocolParams": "",
        "doApplyDoseFilter": true,
        "patchX": 5,
        "patchY": 5,
        "patchOverlap": 0,
        "group": 1,
        "tol": 0.5,
        "doSaveUnweightedMic": false,
        "extraParams2": "",
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "defectMap": null,
        "EERtext": null,
        "eerGroup": 32,
        "eerSampling": 0,
        "doMagCor": false,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0,
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 1,
        "inputMovies": "2.outputMovies"
    },
    {
        "object.className": "CistemProtCTFFind",
        "object.id": "195",
        "object.label": "cistem - ctffind4",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "recalculate": false,
        "sqliteFile": null,
        "inputType": 1,
        "avgFrames": 3,
        "usePowerSpectra": false,
        "windowSize": 512,
        "lowRes": 30.0,
        "highRes": 5.0,
        "minDefocus": 5000.0,
        "maxDefocus": 50000.0,
        "stepDefocus": 500.0,
        "slowSearch": false,
        "fixAstig": true,
        "astigmatism": 100.0,
        "findPhaseShift": false,
        "minPhaseShift": 0.0,
        "maxPhaseShift": 180.0,
        "stepPhaseShift": 10.0,
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 8,
        "inputMicrographs": "88.outputMicrographsDoseWeighted"
    },
    {
        "object.className": "ProtRelionAutopickLoG",
        "object.id": "259",
        "object.label": "relion - auto-picking LoG",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "boxSize": 100,
        "minDiameter": 150,
        "maxDiameter": 180,
        "areParticlesWhite": false,
        "maxResolution": 20.0,
        "threshold": 0.0,
        "threshold2": 5.0,
        "extraParams": "",
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 8,
        "hostName": "localhost",
        "numberOfMpi": 4,
        "inputMicrographs": "88.outputMicrographsDoseWeighted"
    },
    {
        "object.className": "ProtRelionExtractParticles",
        "object.id": "322",
        "object.label": "relion - particles extraction 64",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "downsampleType": 0,
        "boxSize": 256,
        "doRescale": true,
        "rescaledSize": 64,
        "saveFloat16": false,
        "doInvert": true,
        "doNormalize": true,
        "backDiameter": 200,
        "stddevWhiteDust": -1.0,
        "stddevBlackDust": -1.0,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 4,
        "ctfRelations": "195.outputCTF",
        "inputCoordinates": "259.outputCoordinates"
    },
    {
        "object.className": "ProtRelionClassify2D",
        "object.id": "391",
        "object.label": "relion - 2D classification",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": true,
        "is2D": true,
        "doContinue": false,
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfClasses": 20,
        "regularisationParamT": 2.0,
        "useGradientAlg": false,
        "numberOfVDAMBatches": 200,
        "centerAvg": true,
        "numberOfIterations": 20,
        "limitResolEStep": -1.0,
        "doImageAlignment": true,
        "inplaneAngularSamplingDeg": 6.0,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "allowCoarserSampling": false,
        "useParallelDisk": true,
        "pooledParticles": 3,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 5,
        "inputParticles": "322.outputParticles"
    },
    {
        "object.className": "ProtUserSubSet",
        "object.id": "473",
        "object.label": "create subset for picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "other": "371",
        "sqliteFile": "Runs/000391_ProtRelionClassify2D/classes2D_state.sqlite,",
        "outputClassName": "SetOfAverages,Representatives",
        "inputObject": "391."
    },
    {
        "object.className": "ProtRelion2Autopick",
        "object.id": "528",
        "object.label": "relion - auto-picking ref-based",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "referencesType": 0,
        "symmetryGroup": "c1",
        "angularSamplingDeg": 0,
        "lowpassFilterRefs": 20,
        "highpassFilterMics": -1,
        "angularSampling": 5,
        "refsHaveInvertedContrast": true,
        "refsCtfCorrected": true,
        "ignoreCTFUntilFirstPeak": false,
        "pickingThreshold": 0.05,
        "interParticleDistance": 100,
        "maxStddevNoise": 1.1,
        "minAvgNoise": -999.0,
        "shrinkFactor": 0.0,
        "doGpu": true,
        "gpusToUse": "",
        "extraParams": "",
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 1,
        "inputMicrographs": "88.outputMicrographsDoseWeighted",
        "ctfRelations": "195.outputCTF",
        "inputReferences": "473.outputRepresentatives"
    },
    {
        "object.className": "ProtRelionExtractParticles",
        "object.id": "593",
        "object.label": "relion - particles extraction 64",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "downsampleType": 0,
        "boxSize": 256,
        "doRescale": true,
        "rescaledSize": 64,
        "saveFloat16": false,
        "doInvert": true,
        "doNormalize": true,
        "backDiameter": 200,
        "stddevWhiteDust": -1.0,
        "stddevBlackDust": -1.0,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 4,
        "ctfRelations": "195.outputCTF",
        "inputCoordinates": "528.outputCoordinates"
    },
    {
        "object.className": "ProtRelionClassify2D",
        "object.id": "662",
        "object.label": "relion - 2D classification #2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": true,
        "is2D": true,
        "doContinue": false,
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfClasses": 20,
        "regularisationParamT": 2.0,
        "useGradientAlg": true,
        "numberOfVDAMBatches": 200,
        "centerAvg": true,
        "numberOfIterations": 20,
        "limitResolEStep": -1.0,
        "doImageAlignment": true,
        "inplaneAngularSamplingDeg": 6.0,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "allowCoarserSampling": false,
        "useParallelDisk": true,
        "pooledParticles": 3,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1,
        "inputParticles": "593.outputParticles"
    },
    {
        "object.className": "ProtRelionInitialModel",
        "object.id": "737",
        "object.label": "relion - 3D initial model D2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "doContinue": false,
        "maskDiameterA": 200,
        "continueIter": "last",
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfIter": 100,
        "regularisationParamT": 4.0,
        "numberOfClasses": 1,
        "doFlattenSolvent": true,
        "symmetryGroup": "D2",
        "runInC1": true,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "skipGridding": true,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "inputParticles": "845.outputParticles"
    },
    {
        "object.className": "ProtRelionSelectClasses2D",
        "object.id": "803",
        "object.label": "relion - 2D class ranker",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "minThreshold": 0.05,
        "minParts": -1,
        "minCls": -1,
        "inputProtocol": "662."
    },
    {
        "object.className": "ProtUserSubSet",
        "object.id": "845",
        "object.label": "create subset",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "other": null,
        "sqliteFile": "Runs/000803_ProtRelionSelectClasses2D/extra/classes2d_state.sqlite,",
        "outputClassName": "SetOfParticles",
        "inputObject": "803.outputClasses"
    },
    {
        "object.className": "ProtRelionClassify3D",
        "object.id": "934",
        "object.label": "relion - 3D classification",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": true,
        "is2D": false,
        "doContinue": false,
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "solventFscMask": false,
        "isMapAbsoluteGreyScale": true,
        "symmetryGroup": "c1",
        "initialLowPassFilterA": 50.0,
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfClasses": 4,
        "regularisationParamT": 4.0,
        "numberOfIterations": 25,
        "useFastSubsets": false,
        "limitResolEStep": -1.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localAngularSearch": false,
        "localAngularSearchRange": 5.0,
        "relaxSymm": "",
        "allowCoarserSampling": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "skipPadding": false,
        "skipGridding": true,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3,
        "inputParticles": "737.outputParticles",
        "referenceVolume": "737.outputVolumeSymmetrized"
    },
    {
        "object.className": "ProtUserSubSet",
        "object.id": "1045",
        "object.label": "create subset particles",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "other": "908",
        "sqliteFile": "Runs/000934_ProtRelionClassify3D/classes3D_state.sqlite,",
        "outputClassName": "SetOfParticles",
        "inputObject": "934."
    },
    {
        "object.className": "ProtUserSubSet",
        "object.id": "1080",
        "object.label": "create subset volume",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "other": "908",
        "sqliteFile": "Runs/000934_ProtRelionClassify3D/classes3D_state.sqlite,",
        "outputClassName": "SetOfVolumes,Representatives",
        "inputObject": "934."
    },
    {
        "object.className": "ProtExtractCoords",
        "object.id": "1153",
        "object.label": "pwem - extract coordinates",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "applyShifts": true,
        "hostName": "localhost",
        "inputMicrographs": "88.outputMicrographsDoseWeighted",
        "inputParticles": "1045.outputParticles"
    },
    {
        "object.className": "ProtRelionExtractParticles",
        "object.id": "1195",
        "object.label": "relion - particles extraction 256",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "downsampleType": 0,
        "boxSize": 360,
        "doRescale": true,
        "rescaledSize": 256,
        "saveFloat16": false,
        "doInvert": true,
        "doNormalize": true,
        "backDiameter": 200,
        "stddevWhiteDust": -1.0,
        "stddevBlackDust": -1.0,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 4,
        "ctfRelations": "195.outputCTF",
        "inputCoordinates": "1153.outputCoordinates"
    },
    {
        "object.className": "ProtRelionResizeVolume",
        "object.id": "1264",
        "object.label": "relion - crop/resize volumes 256",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "doRescale": true,
        "rescaleSamplingRate": 1.244,
        "doResize": true,
        "resizeSize": 256,
        "hostName": "localhost",
        "inputVolumes": "1080.outputRepresentatives"
    },
    {
        "object.className": "ProtRelionRefine3D",
        "object.id": "1336",
        "object.label": "relion - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": false,
        "is2D": false,
        "doContinue": false,
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "solventFscMask": false,
        "isMapAbsoluteGreyScale": false,
        "symmetryGroup": "d2",
        "initialLowPassFilterA": 50.0,
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSamplingDeg": 4,
        "relaxSymm": "",
        "useFinerSamplingFaster": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "skipPadding": false,
        "skipGridding": true,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3,
        "inputParticles": "1195.outputParticles",
        "referenceVolume": "1264.outputVol.2"
    },
    {
        "object.className": "ProtRelionCreateMask3D",
        "object.id": "1445",
        "object.label": "relion - create 3d mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "initialLowPassFilterA": 15.0,
        "threshold": 0.005,
        "doCompare": false,
        "operation": 0,
        "extend": 3,
        "edge": 6,
        "doInvert": false,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "inputVolume": "1336.outputVolume"
    },
    {
        "object.className": "ProtRelionPostprocess",
        "object.id": "1492",
        "object.label": "relion - post-processing",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "relionInput": true,
        "bodyNum": 1,
        "calibratedPixelSize": 0.0,
        "mtf": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "origPixelSize": 0.885,
        "doAutoBfactor": true,
        "bfactorLowRes": 10.0,
        "bfactorHighRes": 0.0,
        "bfactor": -350.0,
        "skipFscWeighting": false,
        "lowRes": 5.0,
        "filterEdgeWidth": 2,
        "randomizeAtFsc": 0.8,
        "forceMask": false,
        "hostName": "localhost",
        "protRefine": "1336.",
        "solventMask": "1445.outputMask"
    },
    {
        "object.className": "ProtRelionCtfRefinement",
        "object.id": "1556",
        "object.label": "relion - ctf refinement aberr",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "estimateAnisoMag": false,
        "doCtfFitting": false,
        "fitDefocus": 0,
        "fitAstig": 0,
        "fitBfactor": 0,
        "fitPhaseShift": 0,
        "doBeamtiltEstimation": true,
        "doEstimateTrefoil": true,
        "doEstimate4thOrder": true,
        "minResolution": 30.0,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1,
        "inputParticles": "1336.outputParticles",
        "inputPostprocess": "1492."
    },
    {
        "object.className": "ProtRelionCtfRefinement",
        "object.id": "1621",
        "object.label": "relion - ctf refinement aniso",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "estimateAnisoMag": true,
        "doCtfFitting": false,
        "fitDefocus": 0,
        "fitAstig": 0,
        "fitBfactor": 0,
        "fitPhaseShift": 0,
        "doBeamtiltEstimation": true,
        "doEstimateTrefoil": true,
        "doEstimate4thOrder": true,
        "minResolution": 30.0,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1,
        "inputPostprocess": "1492.",
        "inputParticles": "1556.outputParticles"
    },
    {
        "object.className": "ProtRelionCtfRefinement",
        "object.id": "1686",
        "object.label": "relion - ctf refinement def",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "estimateAnisoMag": false,
        "doCtfFitting": true,
        "fitDefocus": 2,
        "fitAstig": 1,
        "fitBfactor": 0,
        "fitPhaseShift": 0,
        "doBeamtiltEstimation": false,
        "doEstimateTrefoil": true,
        "doEstimate4thOrder": false,
        "minResolution": 30.0,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1,
        "inputPostprocess": "1492.",
        "inputParticles": "1621.outputParticles"
    },
    {
        "object.className": "ProtRelionRefine3D",
        "object.id": "1751",
        "object.label": "relion - 3D auto-refine #2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": false,
        "is2D": false,
        "doContinue": false,
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "solventFscMask": true,
        "isMapAbsoluteGreyScale": true,
        "symmetryGroup": "d2",
        "initialLowPassFilterA": 50.0,
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSamplingDeg": 4,
        "relaxSymm": "",
        "useFinerSamplingFaster": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "skipPadding": false,
        "skipGridding": true,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3,
        "referenceVolume": "1336.outputVolume",
        "referenceMask": "1445.outputMask",
        "inputParticles": "1686.outputParticles"
    },
    {
        "object.className": "ProtRelionAssignOpticsGroup",
        "object.id": "1831",
        "object.label": "relion - assign optics groups",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputType": 0,
        "opticsGroupName": "opticsGroup1",
        "mtfFile": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "beamTiltX": 0.0,
        "beamTiltY": 0.0,
        "gainFile": "/data/tutorials/relion30_tutorial/Movies/gain.mrc",
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "inputStar": null,
        "inputSet": "88.outputMovies"
    },
    {
        "object.className": "ProtRelionPostprocess",
        "object.id": "1924",
        "object.label": "relion - post-processing #2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "relionInput": true,
        "bodyNum": 1,
        "calibratedPixelSize": 0.0,
        "mtf": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "origPixelSize": 0.885,
        "doAutoBfactor": true,
        "bfactorLowRes": 10.0,
        "bfactorHighRes": 0.0,
        "bfactor": -350.0,
        "skipFscWeighting": false,
        "lowRes": 5.0,
        "filterEdgeWidth": 2,
        "randomizeAtFsc": 0.8,
        "forceMask": false,
        "hostName": "localhost",
        "solventMask": "1445.outputMask",
        "protRefine": "1751."
    },
    {
        "object.className": "ProtRelionBayesianPolishing",
        "object.id": "1982",
        "object.label": "relion - bayesian polishing",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "frame0": 1,
        "frameN": 0,
        "extrSize": -1,
        "rescaledSize": -1,
        "saveFloat16": false,
        "operation": 1,
        "fractionFourierPx": 0.5,
        "numberOfParticles": 10000,
        "sigmaVel": 0.42,
        "sigmaDiv": 1600.0,
        "sigmaAcc": 2.61,
        "minResBfactor": 20.0,
        "maxResBfactor": -1.0,
        "hostName": "localhost",
        "numberOfThreads": 24,
        "numberOfMpi": 1,
        "inputParticles": "1751.outputParticles",
        "inputMovies": "1831.outputMovies",
        "inputPostprocess": "1924."
    },
    {
        "object.className": "ProtRelionRefine3D",
        "object.id": "2051",
        "object.label": "relion - 3D auto-refine #3",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": false,
        "is2D": false,
        "doContinue": false,
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "solventFscMask": true,
        "isMapAbsoluteGreyScale": true,
        "symmetryGroup": "d2",
        "initialLowPassFilterA": 50.0,
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSamplingDeg": 4,
        "relaxSymm": "",
        "useFinerSamplingFaster": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "skipPadding": false,
        "skipGridding": true,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3,
        "referenceMask": "1445.outputMask",
        "referenceVolume": "1751.outputVolume",
        "inputParticles": "1982.outputParticles"
    },
    {
        "object.className": "ProtRelionPostprocess",
        "object.id": "2160",
        "object.label": "relion - post-processing #3",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "relionInput": true,
        "bodyNum": 1,
        "calibratedPixelSize": 0.0,
        "mtf": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "origPixelSize": 0.885,
        "doAutoBfactor": true,
        "bfactorLowRes": 10.0,
        "bfactorHighRes": 0.0,
        "bfactor": -350.0,
        "skipFscWeighting": false,
        "lowRes": 5.0,
        "filterEdgeWidth": 2,
        "randomizeAtFsc": 0.8,
        "forceMask": false,
        "hostName": "localhost",
        "solventMask": "1445.outputMask",
        "protRefine": "2051."
    },
    {
        "object.className": "ProtRelionLocalRes",
        "object.id": "2218",
        "object.label": "relion - local resolution",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "calibratedPixelSize": 1.244,
        "bfactor": -8.0,
        "mtf": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "origPixelSize": 0.885,
        "Msg": null,
        "locResSamp": 25,
        "locResMaskRad": -1,
        "locResEdgeWidth": -1,
        "locResRand": 25.0,
        "locResMin": 50,
        "hostName": "localhost",
        "numberOfMpi": 8,
        "solventMask": "1445.outputMask",
        "protRefine": "2051."
    }
]
