A complete tutorial using Relion 5 within Scipion. The workflow follows betagal Relion tutorial.
[
    {
        "object.className": "ProtImportMovies",
        "object.id": "2",
        "object.label": "pwem - import movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "/data/tutorials/relion30_tutorial/Movies/",
        "filesPattern": "*.tiff",
        "copyFiles": false,
        "haveDataBeenPhaseFlipped": false,
        "acquisitionWizard": null,
        "voltage": 200.0,
        "sphericalAberration": 1.4,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRateMode": 0,
        "samplingRate": 0.885,
        "scannedPixelSize": 7.0,
        "doseInitial": 0.0,
        "dosePerFrame": 1.277,
        "gainFile": "/data/tutorials/relion30_tutorial/Movies/gain.mrc",
        "darkFile": null,
        "dataStreaming": false,
        "timeout": 43200,
        "fileTimeout": 30,
        "blacklistDateFrom": null,
        "blacklistDateTo": null,
        "useRegexps": true,
        "blacklistFile": null,
        "inputIndividualFrames": false,
        "numberOfIndividualFrames": null,
        "stackFrames": false,
        "writeMoviesInProject": false,
        "movieSuffix": "_frames.mrcs",
        "deleteFrames": false
    },
    {
        "object.className": "ProtMotionCorr",
        "object.id": "88",
        "object.label": "motioncorr - movie alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputMovies": "2.outputMovies",
        "doSaveAveMic": true,
        "useAlignToSum": true,
        "alignFrame0": 1,
        "alignFrameN": 24,
        "binFactor": 1.0,
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "splitEvenOdd": false,
        "doSaveMovie": false,
        "doComputePSD": false,
        "doComputeMicThumbnail": false,
        "extraProtocolParams": "",
        "gpuList": "0 1",
        "doApplyDoseFilter": true,
        "patchX": 5,
        "patchY": 5,
        "patchOverlap": 0,
        "group": 1,
        "groupLocal": 4,
        "tol": 0.2,
        "doSaveUnweightedMic": false,
        "extraParams2": "",
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "defectMap": null,
        "EERtext": null,
        "eerGroup": 32,
        "eerSampling": 0,
        "doMagCor": false,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0,
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 1
    },
    {
        "object.className": "CistemProtCTFFind",
        "object.id": "196",
        "object.label": "cistem - ctffind",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "recalculate": false,
        "sqliteFile": null,
        "inputType": 1,
        "inputMicrographs": "88.outputMicrographsDoseWeighted",
        "avgFrames": 3,
        "usePowerSpectra": false,
        "windowSize": 512,
        "lowRes": 30.0,
        "highRes": 5.0,
        "minDefocus": 5000.0,
        "maxDefocus": 50000.0,
        "stepDefocus": 500.0,
        "slowSearch": false,
        "fixAstig": true,
        "astigmatism": 100.0,
        "findPhaseShift": false,
        "minPhaseShift": 0.0,
        "maxPhaseShift": 180.0,
        "stepPhaseShift": 10.0,
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 8
    },
    {
        "object.className": "ProtRelionAutopickLoG",
        "object.id": "260",
        "object.label": "relion - auto-picking LoG",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputMicrographs": "88.outputMicrographsDoseWeighted",
        "boxSize": 100,
        "minDiameter": 150,
        "maxDiameter": 180,
        "areParticlesWhite": false,
        "maxResolution": 20.0,
        "threshold": 0.0,
        "threshold2": 5.0,
        "extraParams": "",
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 4
    },
    {
        "object.className": "ProtRelionExtractParticles",
        "object.id": "310",
        "object.label": "relion - particles extraction 64px",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputCoordinates": "260.outputCoordinates",
        "downsampleType": 0,
        "ctfRelations": "196.outputCTF",
        "boxSize": 256,
        "doRescale": true,
        "rescaledSize": 64,
        "saveFloat16": true,
        "doInvert": true,
        "doNormalize": true,
        "backDiameter": 200,
        "stddevWhiteDust": -1.0,
        "stddevBlackDust": -1.0,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 4
    },
    {
        "object.className": "ProtRelionClassify2D",
        "object.id": "380",
        "object.label": "relion - 2D classification",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": true,
        "is2D": true,
        "doContinue": false,
        "inputParticles": "310.outputParticles",
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfClasses": 20,
        "regularisationParamT": 2.0,
        "useGradientAlg": false,
        "numberOfVDAMBatches": 200,
        "centerAvg": true,
        "numberOfIterations": 20,
        "limitResolEStep": -1.0,
        "doImageAlignment": true,
        "inplaneAngularSamplingDeg": 6.0,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "allowCoarserSampling": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "allParticlesRam": true,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 5
    },
    {
        "object.className": "ProtUserSubSet",
        "object.id": "462",
        "object.label": "create subset",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputObject": "380.",
        "other": "359",
        "sqliteFile": "Runs/000380_ProtRelionClassify2D/classes2D_state.sqlite,",
        "outputClassName": "SetOfAverages,Representatives"
    },
    {
        "object.className": "ProtRelion2Autopick",
        "object.id": "518",
        "object.label": "relion - auto-picking reference-based",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputMicrographs": "88.outputMicrographsDoseWeighted",
        "ctfRelations": "196.outputCTF",
        "referencesType": 0,
        "inputReferences": "462.outputRepresentatives",
        "symmetryGroup": "c1",
        "angularSamplingDeg": 0,
        "lowpassFilterRefs": 20,
        "highpassFilterMics": -1,
        "angularSampling": 5,
        "refsHaveInvertedContrast": true,
        "refsCtfCorrected": true,
        "ignoreCTFUntilFirstPeak": false,
        "pickingThreshold": 0.05,
        "interParticleDistance": 100,
        "maxStddevNoise": 1.1,
        "minAvgNoise": -999.0,
        "shrinkFactor": 0.0,
        "doGpu": true,
        "gpusToUse": "",
        "extraParams": "",
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionExtractParticles",
        "object.id": "583",
        "object.label": "relion - particles extraction 64px #2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputCoordinates": "518.outputCoordinates",
        "downsampleType": 0,
        "ctfRelations": "196.outputCTF",
        "boxSize": 256,
        "doRescale": true,
        "rescaledSize": 64,
        "saveFloat16": true,
        "doInvert": true,
        "doNormalize": true,
        "backDiameter": 200,
        "stddevWhiteDust": -1.0,
        "stddevBlackDust": -1.0,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 4
    },
    {
        "object.className": "ProtRelionClassify2D",
        "object.id": "653",
        "object.label": "relion - 2D classification #2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": true,
        "is2D": true,
        "doContinue": false,
        "inputParticles": "583.outputParticles",
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfClasses": 20,
        "regularisationParamT": 2.0,
        "useGradientAlg": true,
        "numberOfVDAMBatches": 200,
        "centerAvg": true,
        "numberOfIterations": 20,
        "limitResolEStep": -1.0,
        "doImageAlignment": true,
        "inplaneAngularSamplingDeg": 6.0,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "allowCoarserSampling": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "allParticlesRam": true,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionSelectClasses2D",
        "object.id": "728",
        "object.label": "relion - 2D class ranker",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputProtocol": "653.",
        "minThreshold": 0.35,
        "minParts": -1,
        "minCls": -1
    },
    {
        "object.className": "ProtRelionInitialModel",
        "object.id": "798",
        "object.label": "relion - 3D initial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "doContinue": false,
        "inputParticles": "728.outputParticles",
        "maskDiameterA": 200,
        "continueIter": "last",
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfIter": 100,
        "regularisationParamT": 4.0,
        "numberOfClasses": 1,
        "doFlattenSolvent": true,
        "symmetryGroup": "D2",
        "runInC1": true,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "allParticlesRam": true,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "ProtRelionClassify3D",
        "object.id": "856",
        "object.label": "relion - 3D classification",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": true,
        "is2D": false,
        "doContinue": false,
        "inputParticles": "798.outputParticles",
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "referenceVolume": "798.outputVolumeSymmetrized",
        "solventFscMask": false,
        "isMapAbsoluteGreyScale": true,
        "symmetryGroup": "c1",
        "initialLowPassFilterA": 50.0,
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfClasses": 4,
        "regularisationParamT": 4.0,
        "numberOfIterations": 25,
        "useFastSubsets": false,
        "useBlush": false,
        "limitResolEStep": -1.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localAngularSearch": false,
        "localAngularSearchRange": 5.0,
        "relaxSymm": "",
        "allowCoarserSampling": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "skipPadding": false,
        "allParticlesRam": true,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtExtractCoords",
        "object.id": "1004",
        "object.label": "pwem - extract coordinates",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputParticles": "1046.outputParticles",
        "inputMicrographs": "88.outputMicrographsDoseWeighted",
        "applyShifts": true,
        "hostName": "localhost"
    },
    {
        "object.className": "ProtUserSubSet",
        "object.id": "1046",
        "object.label": "create subset particles",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputObject": "856.",
        "other": "948",
        "sqliteFile": "Runs/000856_ProtRelionClassify3D/classes3D_state.sqlite,",
        "outputClassName": "SetOfParticles"
    },
    {
        "object.className": "ProtUserSubSet",
        "object.id": "1081",
        "object.label": "create subset volume",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputObject": "856.",
        "other": "948",
        "sqliteFile": "Runs/000856_ProtRelionClassify3D/classes3D_state.sqlite,",
        "outputClassName": "SetOfVolumes,Representatives"
    },
    {
        "object.className": "ProtRelionExtractParticles",
        "object.id": "1164",
        "object.label": "relion - particles extraction 256px",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputCoordinates": "1004.outputCoordinates",
        "downsampleType": 0,
        "ctfRelations": "196.outputCTF",
        "boxSize": 360,
        "doRescale": true,
        "rescaledSize": 256,
        "saveFloat16": true,
        "doInvert": true,
        "doNormalize": true,
        "backDiameter": 200,
        "stddevWhiteDust": -1.0,
        "stddevBlackDust": -1.0,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 4
    },
    {
        "object.className": "ProtRelionResizeVolume",
        "object.id": "1234",
        "object.label": "relion - crop/resize volumes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolumes": "1081.outputRepresentatives",
        "doRescale": true,
        "rescaleSamplingRate": 1.244,
        "doResize": true,
        "resizeSize": 256,
        "hostName": "localhost"
    },
    {
        "object.className": "ProtRelionRefine3D",
        "object.id": "1288",
        "object.label": "relion - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": false,
        "is2D": false,
        "doContinue": false,
        "inputParticles": "1164.outputParticles",
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "referenceVolume": "1234.outputVol.4",
        "solventFscMask": false,
        "isMapAbsoluteGreyScale": false,
        "symmetryGroup": "D2",
        "initialLowPassFilterA": 50.0,
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSamplingDeg": 4,
        "relaxSymm": "",
        "useFinerSamplingFaster": false,
        "useBlush": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "skipPadding": false,
        "allParticlesRam": true,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionCreateMask3D",
        "object.id": "1368",
        "object.label": "relion - create 3d mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolume": "1288.outputVolume",
        "initialLowPassFilterA": 15.0,
        "threshold": 0.005,
        "doCompare": false,
        "operation": 0,
        "extend": 3,
        "edge": 6,
        "doInvert": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtRelionPostprocess",
        "object.id": "1409",
        "object.label": "relion - post-processing",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "relionInput": true,
        "protRefine": "1288.",
        "bodyNum": 1,
        "solventMask": "1368.outputMask",
        "calibratedPixelSize": 0.0,
        "mtf": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "origPixelSize": 0.885,
        "doAutoBfactor": true,
        "bfactorLowRes": 10.0,
        "bfactorHighRes": 0.0,
        "bfactor": -350.0,
        "skipFscWeighting": false,
        "lowRes": 5.0,
        "filterEdgeWidth": 2,
        "randomizeAtFsc": 0.8,
        "forceMask": false,
        "hostName": "localhost"
    },
    {
        "object.className": "ProtRelionCtfRefinement",
        "object.id": "1497",
        "object.label": "relion - ctf refinement aberrations",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputParticles": "1288.outputParticles",
        "inputPostprocess": "1409.",
        "estimateAnisoMag": false,
        "doCtfFitting": false,
        "fitDefocus": 0,
        "fitAstig": 0,
        "fitBfactor": 0,
        "fitPhaseShift": 0,
        "doBeamtiltEstimation": true,
        "doEstimateTrefoil": true,
        "doEstimate4thOrder": true,
        "minResolution": 30.0,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionCtfRefinement",
        "object.id": "1569",
        "object.label": "relion - ctf refinement magnification",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputParticles": "1497.outputParticles",
        "inputPostprocess": "1409.",
        "estimateAnisoMag": true,
        "doCtfFitting": false,
        "fitDefocus": 0,
        "fitAstig": 0,
        "fitBfactor": 0,
        "fitPhaseShift": 0,
        "doBeamtiltEstimation": false,
        "doEstimateTrefoil": false,
        "doEstimate4thOrder": false,
        "minResolution": 30.0,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionCtfRefinement",
        "object.id": "1635",
        "object.label": "relion - ctf refinement defocus",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputParticles": "1569.outputParticles",
        "inputPostprocess": "1409.",
        "estimateAnisoMag": false,
        "doCtfFitting": true,
        "fitDefocus": 2,
        "fitAstig": 1,
        "fitBfactor": 0,
        "fitPhaseShift": 0,
        "doBeamtiltEstimation": false,
        "doEstimateTrefoil": false,
        "doEstimate4thOrder": false,
        "minResolution": 30.0,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 8,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionRefine3D",
        "object.id": "1680",
        "object.label": "relion - 3D auto-refine #2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": false,
        "is2D": false,
        "doContinue": false,
        "inputParticles": "1635.outputParticles",
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "referenceVolume": "1288.outputVolume",
        "referenceMask": "1368.outputMask",
        "solventFscMask": false,
        "isMapAbsoluteGreyScale": true,
        "symmetryGroup": "D2",
        "initialLowPassFilterA": 50.0,
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSamplingDeg": 4,
        "relaxSymm": "",
        "useFinerSamplingFaster": false,
        "useBlush": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "skipPadding": false,
        "allParticlesRam": true,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionAssignOpticsGroup",
        "object.id": "1781",
        "object.label": "relion - assign optics groups",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSet": "88.outputMovies",
        "inputType": 0,
        "opticsGroupName": "opticsGroup1",
        "mtfFile": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "beamTiltX": 0.0,
        "beamTiltY": 0.0,
        "gainFile": "/data/tutorials/relion30_tutorial/Movies/gain.mrc",
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "inputStar": null
    },
    {
        "object.className": "ProtRelionCreateMask3D",
        "object.id": "1875",
        "object.label": "relion - create 3d mask #2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolume": "1680.outputVolume",
        "initialLowPassFilterA": 15.0,
        "threshold": 0.005,
        "doCompare": false,
        "operation": 0,
        "extend": 3,
        "edge": 6,
        "doInvert": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtRelionPostprocess",
        "object.id": "1916",
        "object.label": "relion - post-processing #2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "relionInput": true,
        "protRefine": "1680.",
        "bodyNum": 1,
        "solventMask": "1875.outputMask",
        "calibratedPixelSize": 0.0,
        "mtf": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "origPixelSize": 0.885,
        "doAutoBfactor": true,
        "bfactorLowRes": 10.0,
        "bfactorHighRes": 0.0,
        "bfactor": -350.0,
        "skipFscWeighting": false,
        "lowRes": 5.0,
        "filterEdgeWidth": 2,
        "randomizeAtFsc": 0.8,
        "forceMask": false,
        "hostName": "localhost"
    },
    {
        "object.className": "ProtRelionBayesianPolishing",
        "object.id": "2015",
        "object.label": "relion - bayesian polishing",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputMovies": "1781.outputMovies",
        "inputParticles": "1680.outputParticles",
        "inputPostprocess": "1916.",
        "frame0": 1,
        "frameN": 0,
        "extrSize": -1,
        "rescaledSize": -1,
        "saveFloat16": true,
        "operation": 1,
        "fractionFourierPx": 0.5,
        "numberOfParticles": 10000,
        "sigmaVel": 0.42,
        "sigmaDiv": 1600.0,
        "sigmaAcc": 2.61,
        "minResBfactor": 20.0,
        "maxResBfactor": -1.0,
        "hostName": "localhost",
        "numberOfThreads": 24,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionRefine3D",
        "object.id": "2070",
        "object.label": "relion - 3D auto-refine #3",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": false,
        "is2D": false,
        "doContinue": false,
        "inputParticles": "2015.outputParticles",
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": 200,
        "maskZero": 0,
        "continueIter": "last",
        "referenceVolume": "1680.outputVolume",
        "referenceMask": "1875.outputMask",
        "solventFscMask": true,
        "isMapAbsoluteGreyScale": true,
        "symmetryGroup": "D2",
        "initialLowPassFilterA": 50.0,
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSamplingDeg": 4,
        "relaxSymm": "",
        "useFinerSamplingFaster": false,
        "useBlush": false,
        "useParallelDisk": true,
        "pooledParticles": 30,
        "skipPadding": false,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionCreateMask3D",
        "object.id": "2150",
        "object.label": "relion - create 3d mask #3",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolume": "2070.outputVolume",
        "initialLowPassFilterA": 15.0,
        "threshold": 0.005,
        "doCompare": false,
        "operation": 0,
        "extend": 3,
        "edge": 6,
        "doInvert": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtRelionPostprocess",
        "object.id": "2191",
        "object.label": "relion - post-processing #3",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "relionInput": true,
        "protRefine": "2070.",
        "bodyNum": 1,
        "solventMask": "2150.outputMask",
        "calibratedPixelSize": 0.0,
        "mtf": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "origPixelSize": 0.885,
        "doAutoBfactor": true,
        "bfactorLowRes": 10.0,
        "bfactorHighRes": 0.0,
        "bfactor": -350.0,
        "skipFscWeighting": false,
        "lowRes": 5.0,
        "filterEdgeWidth": 2,
        "randomizeAtFsc": 0.8,
        "forceMask": false,
        "hostName": "localhost"
    },
    {
        "object.className": "ProtRelionLocalRes",
        "object.id": "2268",
        "object.label": "relion - local resolution",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "protRefine": "2070.",
        "solventMask": "2150.outputMask",
        "calibratedPixelSize": 1.244,
        "bfactor": -7.64,
        "mtf": "/home/gsharov/soft/scipion-em-plugins/scipion-em-relion/relion/convert/mtfs/mtf_k2_200_ec.star",
        "origPixelSize": 0.885,
        "Msg": null,
        "locResSamp": 25,
        "locResMaskRad": -1,
        "locResEdgeWidth": -1,
        "locResRand": 25.0,
        "locResMin": 50,
        "hostName": "localhost",
        "numberOfMpi": 8
    }
]
