# Include the README
include *.rst

# Include the license file
include LICENSE

# Include the changelog
include CHANGES.txt

# Include conf file
include relion/protocols.conf

# Include templates
include relion/templates/*template

# Include MTF files
include relion/convert/mtfs/*star
